/VsCodeProjects/
/IdeaProjects/
/.alibabacloudidea/
/.android/
/.anes/
/.arthas/
/.BetterIntelliJ/
/.bundle/
/.cache/
/.cups/
/.dlv/
/.docker/
/.dubbo/
/.easy_api/
/.eclipse/
/.emacs.d/
/.gem/
/.gradle/
/.halo/
/.idea/
/.ideaLibSources/
/.idm/
/.jetbrains/
/.jrebel/
/.lemminx/
/.m2/
/.mongodb/
/.mono/
/.mume/
/.nbprofiler/
/.node-gyp/
/.npm/
/.nutstore/
/nvm/
/.oracle_jre_usage/
/.pylint/d/
/.redhat/
/.ShadowsocksX-NG/
/.snipaste/
/.sogouinput/
/.sonarlint/
/.SwitchHosts/
/.oracle_jre_usage/
/Applications/
/Applications (Parallels)/
/Public/
/PycharmProjects/
/VirtualBox VMs/
/Public/
/Movies/
/Music/
/Nutstore Files/
/Parallels/
/Pictures/
/apps/
/data/
/Desktop/
/docker/
/Documents/
/Downloads/
/go/
/Library/
/.vscode/
/.vue-cli-ui/
/.vue-templates/
/.wns/
/.xrebel/
/.zsh_sessions/
/.swt/
/.tldr/
/.tooling/
/.translation/
/.Trash/
/.vagrant.d/
/.bash_profile.bak
/.CFUserTextEncoding
/.zshrc-20211220
/get-pip.py
/ppEnv.json
/.zcompdump
/.zcompdump-huwenfeng-5.8
/.zprofile
/.zsh_history
/.Trash/
/.sogouinput/
/.mono/
/.pylint.d/
/.bash_history
/.gitignore_global
/.hgignore_global
/.mongorc.js
/.node_repl_history
/.notable.json
/.npmrc
/.nrmrc
/.nuuid.ini
/.python_history
/.stCommitMsg
/.swo
/.swp
/.wget-hsts
/.yarnrc
/.vuerc
/.codota-id
/.dbshell
/.gitconfig.bak
/.gitflow_export
/.zshrc.zwc
/.viminfo
/.antigen/bundles/zsh-users/zsh-autosuggestions/
/.antigen/bundles/zsh-users/zsh-syntax-highlighting/
/.antigen/bundles/robbyrussell/oh-my-zsh/
